  body {
    background-color: #f8f8f8;
  }
  
  .custom-nav {
    background-color: #0842c0;
    height: 60px;
  }
  
  .navbar-brand img {
    height: 40px;
  }
  
  .menu-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    transition: transform .3s ease-in-out;
  }

  .menu-icon:hover {
    transform: scale(1.2);
  }
  
  .nav-overlay {
    position: fixed;
    inset: 0;
    background-color: #0842c0;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 9999;
  }
  
  .nav-overlay.active {
    transform: translateY(0);
  }
  
  .overlay-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-close {
    position: absolute;
    top: 3%;
    right: 12%;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  
  .overlay-close:hover {
    transform: scale(1.2);
  }
  
  .overlay-content ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .overlay-content li {
    margin: 1.5rem 0;
  }
  
  .overlay-content a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    transition: font-size 0.5s ease-in-out;
  }
  
  .overlay-content a:hover {
    border-bottom: 1px solid #f9f9f9;
    font-size: 2.4em;
  }
  
  .hero-section {
    margin: 1rem 0;
  }
  
  .hero-inner {
    position: relative;
    background: url("assets/banner-background.jpg") center center / cover no-repeat;
    aspect-ratio: 16/9;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(8,66,192,0.5);
    z-index: 1;
    border-radius: 0.6em;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }
  
  #banner_heading {
    font-size: clamp(1.8rem, 7vw, 4.5rem);
    color: #f9f9f9;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  #banner_heading span {
    color: #f1a124;
  }
  
  .hero-content p {
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    margin-bottom: 1.5rem;
    color: #f9f9f9;
  }
  
  #banner_btn {
    background-color: #f1a124;
    color: #f9f9f9;
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
    transition: transform 0.7s ease-in-out;
  }  
  
  #banner_btn:hover {
    transform: scale(1.2);
    background-color: #f1ab3c;
  }

  h5.page_heading {
    text-align: center;
    margin-top: 80px;
    color: #f1a124;
    font-weight: bold;
  }

  h3.page_subheading {
    text-align: center;
    font-weight: bold;
    color: #0843c0;
    margin-top: 15px;
    margin-bottom: 80px;
  }

  .aktivity-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.aktivity-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
}

.aktivity-item img {
    width: 60px; 
    height: auto;
    margin-bottom: 20px;
}

.aktivity-item h3 {
    font-weight: bold;
    color: #0842c0;
    margin-bottom: 20px;
}

.aktivity-item p {
    flex-grow: 1;
    font-size: 0.9em;
}

.aktivity-item a {
    display: inline-block;
    background-color: #f1a124;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    margin-top: auto;
    text-align: center;
}

.aktivity-item a:hover {
    background-color: #d98c0d;
}

/* Адаптация */
@media (max-width: 992px) {
    .aktivity-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .aktivity-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


.blog-section {
  position: relative;
  padding-bottom: 80px;
}

.blog-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background-color: #0842c0;
  z-index: -1;
}

.blog-container {
  text-align: center;
}

.blog-content {
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-main {
  flex: 1;
  min-width: 300px;
}

.blog-main-img {
  position: relative;
  height: 100%;
}

.blog-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.blog-text {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  text-align: left;
}

.blog-text span {
  font-size: 25px;
  display: block;
  margin-bottom: 20px;
  color: #f1a124;
  font-weight: bold;
}

.blog-text h3 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.5;
}

.blog-text a {
  color: #f1a124;
  text-decoration: none;
  margin-top: 20px;
}

.blog-text a:hover {
  text-decoration: underline;
}

.blog-side {
  flex: 1;
  min-width: 300px;
}

.blog-side-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
}

.blog-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: left;
}

.blog-item img {
  width: 100%;
  margin-bottom: 30px;
}

.blog-item span {
  color: #f1a124;
  font-weight: bold;
  margin: 0 20px;
}

.blog-item h4 {
  font-weight: bold;
  color: #0842c0;
  margin: 0 20px;
}

.blog-item a {
  color: #f1a124;
  text-decoration: none;
  margin: 40px 0 0 20px;
}

.blog-item a:hover {
  text-decoration: underline;
}

.btn_go_to_blog {
  text-align: center;
  margin-top: 70px;
}

.btn_go_to_blog a {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: 2px solid #f1a124;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.4rem;
  transition: all .6s ease;
}

.btn_go_to_blog a:hover {
  background-color: #f1a124;
  color: #fff;
}

.about_us_section {
  padding: 80px 0;
}

.about_us_section_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 40px;
}

.about_us_section_item_left {
  flex: 1;
  color: white;
}

.about_us_section_item_left h4 {
  color: #f1a124;
  font-size: 20px;
}

.about_us_section_item_left h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about_us_section_item_left p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.about_us_section_item_left a.show_more {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: 2px solid #f1a124;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.4rem;
  transition: all .6s ease;
}

.about_us_section_item_left a.show_more:hover {
  background-color: #f1a124;
  color: #fff;
}

.about_us_section_item_right {
  flex: 1;
}

.about_us_section_item_right img {
  width: 100%;
  border-radius: 10px;
}

/* Адаптив */
@media (max-width: 992px) {
  .blog-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .blog-main {
    margin-bottom: 30px;
    width: 100%;
  }

  .blog-side-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .blog-side {
    margin-top: 0;
    width: 100%;
  }

  .blog-item {
    padding-bottom: 20px;
  }

  .blog-item img {
    margin-bottom: 10px;
  }

  .about_us_section_wrapper {
    flex-direction: column;
    text-align: center;
  }
}

.zakladatelia_wrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.zakladatelia_wrapper img {
  border-radius: 8px;
  margin-right: 30px;
}

.zakladatelia_wrapper h5 {
  color: #0842c0;
  font-weight: bold;
  line-height: 0.9;
}

.partner_img {
  text-align: center;
  margin-top: -20px;
}

.partners-carousel {
  width: 100%;
  margin-bottom: 80px;
}

.swiper {
  width: 100%;
  margin: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
  max-width: 120px;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.swiper-slide-active img {
  opacity: 1;
  transform: scale(1.2);
}


.partneri_text {
  text-align: center;
  padding-bottom: 100px;
}

.partneri_text p {
  font-family: 'Arial', serif;
  color: #333;
  margin-bottom: 50px;
}

.partneri_text a.be_partner {
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  background-color: #0842c0;
  padding: 12px 50px;
  border-radius: 8px;
  font-weight: bold;
  transition: all .8s ease;
}

.partneri_text a.be_partner:hover {
  background-color: #2f6ae9;
}